@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body{
    margin: 2rem 5rem;
    height: 100vh;
    background-size: cover;
    background-color: whitesmoke;
    font-family: 'Lora', serif;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
}
h1{
    font-size: 3.25rem;
    text-shadow: 1px 1px 1px black;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.2rem;
    font-weight: normal;
}
.city-input-view{
    text-align: center;
    width: 50%;
    min-width: 350px;
    height: 15%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -22.5%;
    margin-top: -7.5%;
}
.city-info-view{
    background-color:rgba(0,0,0, 0.25);
    box-shadow: 2px 2px 10px black;
    padding: 10px;
}
.city-info-view div{
    align-self: center;
    padding: 15px;
}
input[type='text']{
    padding: 10px;
    color: black;
    box-shadow: 2px 2px 6px black;  
    border-radius: 8px;
    width:  75%;
    max-width: 550px;
    min-width: 250px;
    border: 0.8px solid purple;
}
button{
    padding: 6px;
    background-color: lightcoral;
    border-radius: 10px;
    margin: 20px 5px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    width: 100px;
    min-width: 50px;
    color: white;
}
button:hover{
    box-shadow: 2px 2px 10px black;
    background-color: coral;
    cursor: pointer;
}
.city-info-view{
    display: none;
}
.city-info-view-visible{
    display: grid;
    gap: 20px;
    border-radius: 20px;
    background: linear-gradient(#2C5364, #203A43, #0F2027); 
    grid-template-columns: repeat(2, minmax(0,1fr))
}
.image-container{
    text-align: center;
}
#map{
    width: 650px;
    height: 375px;
    min-width: 400px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
}
#cityImg{
    height: 80%;
    max-height: 400px;
    max-width: 500px;
    border-radius: 15px;
    border: 2px solid black;
    max-width: 700px;
}
.city-description{
    margin-left: 25px;
}
.name-country{
    text-align: left;
    margin: 10px 30px;
}
.current-time{
    margin-left: 32px;
    font-size: 1.9rem;
    font-weight: bold;;
}
