@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body{
    margin: 2rem 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    font-family: 'Lora', serif;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
}
h1{
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px black;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.2rem;
    font-weight: normal;
}
.city-input-view{
    text-align: center;
    height: 100%;
    margin: 18.5% auto;
}
.weather-info{
    margin-left: 50px;
}
.city-info-view{
    background-color:rgba(0,0,0, 0.25);
    box-shadow: 2px 2px 10px black;
    padding: 10px;
}
.city-info-view div{
    align-self: center;
    padding: 15px;
}
input[type='text']{
    padding: 10px;
    color: black;
    box-shadow: 2px 2px 6px black;  
    border-radius: 8px;
    width:  75%;
    max-width: 550px;
    min-width: 250px;
    border: 0.8px solid purple;
}
button{
    padding: 6px;
    background-color: lightcoral;
    border-radius: 10px;
    margin: 20px 5px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    width: 100px;
    min-width: 50px;
    color: white;
}
button:hover{
    box-shadow: 2px 2px 10px black;
    background-color: coral;
    cursor: pointer;
}
.city-info-view{
    display: none;
}
.city-info-view-visible{
    display: grid;
    border-radius: 20px;
    gap: 10px;
    padding: 50px;
    background: linear-gradient(#2C5364, #203A43, #0F2027); 
    grid-template-columns: repeat(2, minmax(0,1fr))
}

#map{
    height: auto;
    min-height: 300px;
    min-width: 325px;
    border-radius: 20px;
    border: 2px solid black;
}
#cityImg{
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 30px;
    border: 2.5px solid black;
}
.info-heading{
    align-self: start;
}
.city-description{
    margin-left: 25px;
    align-self: end;
}
.wiki-data{
    line-height: 30px;
}
.name-country{
    text-align: left;
    margin: 10px 30px;
}
.sunrise-time, .sunset-time{
    font-size: 1.2rem;
    margin-left: 7.5px
}

.current-time{
    margin-left: 32px;
    font-size: 1.9rem;
    font-weight: bold;
}


@media only screen and (max-width: 1300px){
    
    #city-img{
        max-width: 350px;
    }
}